// I Hate Doing This Again!!

// Red
$red-50: #FF8E8E;
$red-100: #FF8E8E; 
$red-200: #FF8E8E; 
$red-300: #FF8E8E; 
$red-400: #FF8E8E; 
$red-500: #FF8E8E; 
$red-600: #FF8E8E; 
$red-700: #FF8E8E; 
$red-800: #FF8E8E; 
$red-900: #FF8E8E; 
$red-a100: #FF8E8E;
$red-a200: #FF8E8E;
$red-a400: #FF8E8E;
$red-a700: #FF8E8E;

// Pink
$pink-50: #FFDEDE;
$pink-100: #FFDEDE;
$pink-200: #FFDEDE;
$pink-300: #FFDEDE;
$pink-400: #FFDEDE;
$pink-500: #FFDEDE;
$pink-600: #FFDEDE;
$pink-700: #FFDEDE;
$pink-800: #FFDEDE;
$pink-900: #FFDEDE;
$pink-a100: #FFDEDE;
$pink-a200: #FFDEDE;
$pink-a400: #FFDEDE;
$pink-a700: #FFDEDE;

// Purple
$purple-50: #E7DEFF;
$purple-100: #E7DEFF;
$purple-200: #E7DEFF;
$purple-300: #E7DEFF;
$purple-400: #E7DEFF;
$purple-500: #E7DEFF;
$purple-600: #E7DEFF;
$purple-700: #E7DEFF;
$purple-800: #E7DEFF;
$purple-900: #E7DEFF;
$purple-a100: #E7DEFF;
$purple-a200: #E7DEFF;
$purple-a400: #E7DEFF;
$purple-a700: #E7DEFF;

// Deep Purple
$deep-purple-50: #EFDEFF;
$deep-purple-100: #EFDEFF;
$deep-purple-200: #EFDEFF;
$deep-purple-300: #EFDEFF;
$deep-purple-400: #EFDEFF;
$deep-purple-500: #EFDEFF;
$deep-purple-600: #EFDEFF;
$deep-purple-700: #EFDEFF;
$deep-purple-800: #EFDEFF;
$deep-purple-900: #EFDEFF;
$deep-purple-a100: #EFDEFF;
$deep-purple-a200: #EFDEFF;
$deep-purple-a400: #EFDEFF;
$deep-purple-a700: #EFDEFF;

// Indigo
$indigo-50: #DEF2FF;
$indigo-100: #DEF2FF;
$indigo-200: #DEF2FF;
$indigo-300: #DEF2FF;
$indigo-400: #DEF2FF;
$indigo-500: #DEF2FF;
$indigo-600: #DEF2FF;
$indigo-700: #DEF2FF;
$indigo-800: #DEF2FF;
$indigo-900: #DEF2FF;
$indigo-a100: #DEF2FF;
$indigo-a200: #DEF2FF;
$indigo-a400: #DEF2FF;
$indigo-a700: #DEF2FF;

// Blue
$blue-50: #DEF2FF;
$blue-100: #DEF2FF;
$blue-200: #DEF2FF;
$blue-300: #DEF2FF;
$blue-400: #DEF2FF;
$blue-500: #DEF2FF;
$blue-600: #DEF2FF;
$blue-700: #DEF2FF;
$blue-800: #DEF2FF;
$blue-900: #DEF2FF;
$blue-a100: #DEF2FF;
$blue-a200: #DEF2FF;
$blue-a400: #DEF2FF;
$blue-a700: #DEF2FF;

// Light Blue
$light-blue-50: #DEFBFF;
$light-blue-100: #DEFBFF;
$light-blue-200: #DEFBFF;
$light-blue-300: #DEFBFF;
$light-blue-400: #DEFBFF;
$light-blue-500: #DEFBFF;
$light-blue-600: #DEFBFF;
$light-blue-700: #DEFBFF;
$light-blue-800: #DEFBFF;
$light-blue-900: #DEFBFF;
$light-blue-a100: #DEFBFF;
$light-blue-a200: #DEFBFF;
$light-blue-a400: #DEFBFF;
$light-blue-a700: #DEFBFF;

// Cyan
$cyan-50: #DEFBFF;
$cyan-100: #DEFBFF;
$cyan-200: #DEFBFF;
$cyan-300: #DEFBFF;
$cyan-400: #DEFBFF;
$cyan-500: #DEFBFF;
$cyan-600: #DEFBFF;
$cyan-700: #DEFBFF;
$cyan-800: #DEFBFF;
$cyan-900: #DEFBFF;
$cyan-a100: #DEFBFF;
$cyan-a200: #DEFBFF;
$cyan-a400: #DEFBFF;
$cyan-a700: #DEFBFF;

// Teal
$teal-50: #E4FFDE;
$teal-100: #E4FFDE;
$teal-200: #E4FFDE;
$teal-300: #E4FFDE;
$teal-400: #E4FFDE;
$teal-500: #E4FFDE;
$teal-600: #E4FFDE;
$teal-700: #E4FFDE;
$teal-800: #E4FFDE;
$teal-900: #E4FFDE;
$teal-a100: #E4FFDE;
$teal-a200: #E4FFDE;
$teal-a400: #E4FFDE;
$teal-a700: #E4FFDE;

// Green
$green-50: #DFFFDE;
$green-100: #DFFFDE;
$green-200: #DFFFDE;
$green-300: #DFFFDE;
$green-400: #DFFFDE;
$green-500: #DFFFDE;
$green-600: #DFFFDE;
$green-700: #DFFFDE;
$green-800: #DFFFDE;
$green-900: #DFFFDE;
$green-a100: #DFFFDE;
$green-a200: #DFFFDE;
$green-a400: #DFFFDE;
$green-a700: #DFFFDE;

// Light Green
$light-green-50: #E4FFDE;
$light-green-100: #E4FFDE;
$light-green-200: #E4FFDE;
$light-green-300: #E4FFDE;
$light-green-400: #E4FFDE;
$light-green-500: #E4FFDE;
$light-green-600: #E4FFDE;
$light-green-700: #E4FFDE;
$light-green-800: #E4FFDE;
$light-green-900: #E4FFDE;
$light-green-a100: #E4FFDE;
$light-green-a200: #E4FFDE;
$light-green-a400: #E4FFDE;
$light-green-a700: #E4FFDE;

// Lime
$lime-50: #E4FFDE;
$lime-100: #E4FFDE;
$lime-200: #E4FFDE;
$lime-300: #E4FFDE;
$lime-400: #E4FFDE;
$lime-500: #E4FFDE;
$lime-600: #E4FFDE;
$lime-700: #E4FFDE;
$lime-800: #E4FFDE;
$lime-900: #E4FFDE;
$lime-a100: #E4FFDE;
$lime-a200: #E4FFDE;
$lime-a400: #E4FFDE;
$lime-a700: #E4FFDE;

// Yellow
$yellow-50: #FFFBDE;
$yellow-100: #FFFBDE;
$yellow-200: #FFFBDE;
$yellow-300: #FFFBDE;
$yellow-400: #FFFBDE;
$yellow-500: #FFFBDE;
$yellow-600: #FFFBDE;
$yellow-700: #FFFBDE;
$yellow-800: #FFFBDE;
$yellow-900: #FFFBDE;
$yellow-a100: #FFFBDE;
$yellow-a200: #FFFBDE;
$yellow-a400: #FFFBDE;
$yellow-a700: #FFFBDE;

// Amber
$amber-50: #FFFDDE;
$amber-100: #FFFDDE;
$amber-200: #FFFDDE;
$amber-300: #FFFDDE;
$amber-400: #FFFDDE;
$amber-500: #FFFDDE;
$amber-600: #FFFDDE;
$amber-700: #FFFDDE;
$amber-800: #FFFDDE;
$amber-900: #FFFDDE;
$amber-a100: #FFFDDE;
$amber-a200: #FFFDDE;
$amber-a400: #FFFDDE;
$amber-a700: #FFFDDE;

// Orange
$orange-50: #FFFDDE;
$orange-100: #FFFDDE;
$orange-200: #FFFDDE;
$orange-300: #FFFDDE;
$orange-400: #FFFDDE;
$orange-500: #FFFDDE;
$orange-600: #FFFDDE;
$orange-700: #FFFDDE;
$orange-800: #FFFDDE;
$orange-900: #FFFDDE;
$orange-a100: #FFFDDE;
$orange-a200: #FFFDDE;
$orange-a400: #FFFDDE;
$orange-a700: #FFFDDE;

// Deep Orange
$deep-orange-50: #FFFDDE;
$deep-orange-100: #FFFDDE;
$deep-orange-200: #FFFDDE;
$deep-orange-300: #FFFDDE;
$deep-orange-400: #FFFDDE;
$deep-orange-500: #FFFDDE;
$deep-orange-600: #FFFDDE;
$deep-orange-700: #FFFDDE;
$deep-orange-800: #FFFDDE;
$deep-orange-900: #FFFDDE;
$deep-orange-a100: #FFFDDE;
$deep-orange-a200: #FFFDDE;
$deep-orange-a400: #FFFDDE;
$deep-orange-a700: #FFFDDE;

// Brown
$brown-50: #583533;
$brown-100: #583533;
$brown-200: #583533;
$brown-300: #583533;
$brown-400: #583533;
$brown-500: #583533;
$brown-600: #583533;
$brown-700: #583533;
$brown-800: #583533;
$brown-900: #583533;

// Grey
$grey-50: #CED4DA;
$grey-100: #CED4DA;
$grey-200: #CED4DA;
$grey-300: #CED4DA;
$grey-400: #CED4DA;
$grey-500: #CED4DA;
$grey-600: #CED4DA;
$grey-700: #CED4DA;
$grey-800: #CED4DA;
$grey-900: #CED4DA;

// Blue Grey
$blue-grey-50: #DEE2E6;
$blue-grey-100: #DEE2E6;
$blue-grey-200: #DEE2E6;
$blue-grey-300: #DEE2E6;
$blue-grey-400: #DEE2E6;
$blue-grey-500: #DEE2E6;
$blue-grey-600: #DEE2E6;
$blue-grey-700: #DEE2E6;
$blue-grey-800: #DEE2E6;
$blue-grey-900: #DEE2E6;

// Black
$black: #212529;

// White
$white: #F8F9FA;
